
<div class="banner">
    <div *ngFor="let c of connections; index as i;" class="card mb-3" style="border-color: #75C9C8; border-width: 2px; width: 350px;">
        <div class="card-header">Connection ID:  <span>{{c.id}}</span>
        <a class="showBtn" [routerLink]="['/show-connection', c.id]">
            <i class="fas fa-info-circle fa-lg"></i>
        </a>
        </div>
        <div class="card-body">
            <div>
                <a class="editBtn" [routerLink]="['/edit-connection', c.id]">
                    <i class="fas fa-edit fa-lg"></i>
                </a>
                <button class="deleteBtn" (click)="deleteConnection(c.id)" style="border: none; background:transparent">
                    <i class="fas fa-trash-alt fa-lg"></i>
                </button>
            </div>
            <p style="text-align: left; font-size: 15px; margin-top: 15px;color: #C0B9DD;">
                Name: <span>{{c.name}}</span><br>
                Url: <span>{{c.url}}</span><br>
                Application name: <span>{{c.applicationName}}</span>
            </p>
            <div *ngIf='c.enableAuthentication'>
                <hr>
                <p style="text-align: left; font-size: 15px; margin-top: 15px;color: #E68A75;" >
                    Enabled authentication.
                </p>
            </div>
        </div>
    </div>
</div>

<a class="float" (click)="addNewConnection()" style="cursor: pointer;">
    <i class="fas fa-plus my-float"></i>
</a>

<!--
    COLOR PALETTE
    #F7F4EA
    #DED9E2
    #C0B9DD
    #80A1D4
    #75C9C8
-->
