<div class="page">
    <div class="form">
        <form class="ngform" style="width: 500px">
            <h2 style="color: #75C9C8;">Edit Application</h2>
            <br><br>
            <div class="form-group row">
                <label for="staticId" class="col-sm-4 col-form-label">Application ID:</label>
                <div class="col-sm-3">
                    <input class="form-control" [(ngModel)]="application.id" name="id" disabled>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-9">
                    <input class="form-control" [(ngModel)]="application.name" name="name" required>
                </div>
            </div>
            <br>
            <button type="button" class="btn btn-danger" style="margin-right: 20px; font-size: 18px; width: 100px;" (click)="back()">Back</button>
            <button type="button" class="btn btn-info" style="font-size: 18px; width: 100px;" (click)="updateApplication()">Save</button>
        </form>
    </div>
    <div>
</div>

