<div class="banner">
    <div *ngFor="let a of apps; index as i;" class="card mb-3" style="border-color: #75C9C8; border-width: 2px; width: 300px;">
        <div class="card-header">Application ID:  <span>{{a.id}}</span></div>
        <div class="card-body">
            <div>
                <a class="editBtn" [routerLink]="['edit', a.id]">
                    <i class="fas fa-edit fa-lg"></i>
                </a>
                <button class="deleteBtn" (click)="deleteApplication(a.id)" style="border: none; background:transparent">
                    <i class="fas fa-trash-alt fa-lg"></i>
                </button>
            </div>
            <p style="text-align: left; font-size: 15px; margin-top: 15px;">
                Name: <span>{{a.name}}</span><br>
            </p>
        </div>
    </div>
</div>

<a class="float" (click)="addNewApplication()" style="cursor: pointer;">
    <i class="fas fa-plus my-float"></i>
</a>

<!--
    COLOR PALETTE
    #F7F4EA
    #DED9E2
    #C0B9DD
    #80A1D4
    #75C9C8
-->
