.ngform {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 560px;
  margin: 0 auto 20px;
  margin-top: 15px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

span{
  color:black;
  font-size: 18px;
}

.spanName{
text-align: left; 
font-size: 15px; 
margin-top: 15px;
color: #80A1D4;
margin-left: 20px;
}

.btn-graphql{
margin-top: 0px;
margin-left: -200px;
}

.wrap {
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.btn-graphql {
min-width: 50px;
min-height: 30px;
background: transparent;
border: none;
transition: all 0.3s ease-in-out 0s;
cursor: pointer;
outline: none;
position: relative;
padding: 10px;
}

.btn-graphql::before {
content: '';
border-radius: 50px;
min-width: calc(50px + 12px);
min-height: calc(50px + 12px);
border: 3px solid #C0B9DD;
box-shadow: 0 0 60px #75C9C8;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
opacity: 0;
transition: all .3s ease-in-out 0s;
}

.btn-graphql:hover, .btn-graphql:focus {
transform: translateY(-8px);
}

.btn-graphql:hover::before, .btn-graphql:focus::before {
opacity: 1;
}

.btn-graphql::after {
content: '';
width: 30px; 
height: 30px;
border-radius: 50%;
border: 4px solid #C0B9DD;
position: absolute;
z-index: -1;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
animation: ring 2s infinite;
}

.btn-graphql:hover::after, button:focus::after {
animation: none;
display: none;
}

@keyframes ring {
0% {
  width: 30px;
  height: 30px;
  opacity: 1;
}
100% {
  width: 80px;
  height: 80px;
  opacity: 0;
}
}