<div class="page">
    <div class="form">
        <form class="ngform" style="width: 500px" *ngIf='!mustLogin'>
            <h2 style="color: #75C9C8;">Connection ID: {{connection.id}}</h2>
            <br><br>
            <p style="text-align: left; font-size: 18px; margin-top: px;color: #C0B9DD;">
                Name: <span>{{connection.name}}</span><br>
            </p>
            <div class="wrap">
                <button class="btn-graphql" (click)="openDialog(modalData, connection.id)">
                    <i class="fas fa-chevron-circle-down fa-lg"></i>
                </button>
            </div>
            <br>
            <p style="text-align: left; font-size: 18px; margin-bottom: -3px;color: #C0B9DD;">
                Jobs:
            </p>
            <div *ngFor="let j of jobs; index as i;" class="card mb-3" style="border-color: #75C9C8; border-width: 2px; width: 350px;">
                <p *ngIf='j.lastBuild' style="text-align: left; font-size: 15px; margin-top: 15px;color: #80A1D4;">
                    Name: <span>{{j.name}}</span><br>
                    Last build: <br>
                    <span class="spanName">Result: <span>{{j.lastBuild.result}}</span></span>
                    <br>
                    <span class="spanName">Build date: <span>{{j.lastBuild.timestamp | date:'dd/MM/yyyy HH:mm:ss'}}</span></span>
                    <br>
                    <span class="spanName">Build duration: <span>{{j.lastBuild.duration}} ms</span></span>
                    <br>
                    <span *ngIf='j.lastBuild.actions != null'>
                        <span *ngFor="let a of j.lastBuild.actions; index as i;">
                            <span *ngIf='a.lastBuiltRevision != null' style="text-align: left; font-size: 15px; margin-top: 15px;color: #80A1D4;">
                                    <span *ngFor="let b of a.lastBuiltRevision.branch; index as i;" class="spanName">
                                        Branch name:<span> {{b.name}}</span>
                                    </span>             
                            </span>
                        </span>
                    </span>
                </p>
                <p *ngIf='!j.lastBuild' style="text-align: left; font-size: 15px; margin-top: 15px;color: #80A1D4;">
                    Name: <span>{{j.name}}</span><br>
                    No builds.
                </p>
            </div>
            <div *ngIf='!connection.enableAuthentication'>
                <hr>
                <p style="text-align: left; font-size: 18px; margin-top: 15px;color: #E68A75;" >
                    Disabled authentication.
                </p>
            </div>
            <div *ngIf='connection.enableAuthentication'>
                <hr>
                <p style="text-align: left; font-size: 18px; margin-top: px;color: #C0B9DD;">
                    Username: <span>{{connection.username}}</span><br>
                    Password: <span>{{connection.password}}</span><br>
                </p>
            </div>
            <br><br>
            <button type="button" class="btn btn-danger" style="margin-right: 20px; font-size: 18px; width: 100px;" (click)="back()">Back</button>

        </form>
        <form class="ngform" style="width: 500px" *ngIf='mustLogin'>
            <input class="form-control" placeholder="Enter username" [(ngModel)]="authentication.username" name="username" required>
            <br>
            <input type="password" class="form-control" placeholder="Enter password" [(ngModel)]="authentication.password" name="password" required>
            <br>
            <button type="button" class="btn btn-danger" style="margin-right: 20px; font-size: 18px; width: 100px;" (click)="back()">Back</button>
            <button type="button" class="btn btn-info" style="font-size: 18px; width: 100px;" (click)="doAuthentication()">OK</button>
        </form>
    </div>
    <div>
</div>

<ng-template #modalData let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body" *ngIf='showResult'>
        <p style="text-align: left; font-size: 18px; margin-top: px;color: #C0B9DD;">
            ID: <span>{{responseGraphQL.connectionById.id}}</span><br>
        </p>
        <p style="text-align: left; font-size: 18px; margin-top: px;color: #C0B9DD;">
            Name: <span>{{responseGraphQL.connectionById.name}}</span>
        </p>
        <p style="text-align: left; font-size: 18px; margin-top: px;color: #C0B9DD;">
            Url: <span>{{responseGraphQL.connectionById.url}}</span><br>
        </p>
        <p style="text-align: left; font-size: 18px; margin-top: px;color: #C0B9DD;">
            Application ID: <span>{{responseGraphQL.connectionById.applicationId}}</span>
        </p>
        <p style="text-align: left; font-size: 18px; margin-top: px;color: #C0B9DD;">
            Enable authentication: <span>{{responseGraphQL.connectionById.enableAuthentication}}</span>
        </p>
        <p style="text-align: left; font-size: 18px; margin-top: px;color: #C0B9DD;">
            Username: <span>{{responseGraphQL.connectionById.username}}</span>
        </p>
        <p style="text-align: left; font-size: 18px; margin-top: px;color: #C0B9DD;">
            Password: <span>{{responseGraphQL.connectionById.password}}</span>
        </p>
            
            
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
    </div>
  </ng-template>
