<div class="page">
    <div class="form">
        <form class="ngform" style="width: 500px">
            <h2 style="color: #75C9C8;">New Application</h2>
            <br><br>
            <div>
                <input class="form-control" id="name" placeholder="Enter name" [(ngModel)]="application.name" name="name" required>
            </div>
            <br><br>
            <button type="button" class="btn btn-danger" style="margin-right: 20px; font-size: 18px; width: 100px;" (click)="back()">Back</button>
            <button type="button" class="btn btn-info" style="font-size: 18px; width: 100px;" (click)="addNewApplication()">Save</button>
        </form>
    </div>
    <div>
</div>
