<p id="welcome">Welcome to Jenkins!</p>
<p id="welcome1">Build great things at any scale</p>
<a class="navbar-brand" id="image">
    <img src="assets/jenkins_logo.png" width="500" height="500" alt="Jenkins" id="logo"/>
</a>
