#welcome{
    margin-top: 150px;
    margin-left:350px;
    color: #286766;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

#welcome1{
    color: #80A1D4;
    margin-left:350px;
    text-align: center;
    font-size: 30px;
}

#logo{
    margin-left:200px; 
    margin-top: -200px;
}