<div class="page">
    <div class="form">
        <form class="ngform" style="width: 500px">
            <h2 style="color: #75C9C8;">New Connection</h2>
            <br><br>
            <input class="form-control" id="name" placeholder="Enter name" [(ngModel)]="connection.name" name="name" required>
            <br>
            <input class="form-control" id="url" placeholder="Enter url" [(ngModel)]="connection.url" name="url" required>
            <br>
            <!--<ng-select [items]="allApps" 
                placeholder="Select application"
                bindLabel="name" 
                bindValue="id" 
                appendTo="body"
                [multiple]="false"
                [(ngModel)]="selectedApp"
                name="selectedApp"> 
                required
            </ng-select>-->
            <ng-select [(ngModel)]="selectedApp" [ngModelOptions]="{standalone: true}">
                <ng-option *ngFor="let app of allApps" [value]="app.id" name="name">{{app.name}}</ng-option>
            </ng-select>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" [(ngModel)]="connection.enableAuthentication" name="enableAuthentication">
                <label class="form-check-label" for="exampleCheck1">Authentication</label>
            </div>
            <input class="form-control" id="username" placeholder="Enter username" [(ngModel)]="connection.username" name="username" *ngIf='connection.enableAuthentication' required>
            <br>
            <input type="password" class="form-control" id="password" placeholder="Enter password" [(ngModel)]="connection.password" *ngIf='connection.enableAuthentication' name="password" required>
            <br><br>
            <button type="button" class="btn btn-danger" style="margin-right: 20px; font-size: 18px; width: 100px;" (click)="back()">Back</button>
            <button type="button" class="btn btn-info" style="font-size: 18px; width: 100px;" (click)="addNewConnection()">Save</button>

        </form>
    </div>
    <div>
</div>

