<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F7F4EA;">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">
            <img src="assets/jenkins_logo.png" width="40" height="40" alt="Jenkins" />
        </a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="font-size: 20px;">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/home'" routerLinkActive="active" >Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/apps/all'" routerLinkActive="active">Applications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/all-connections'" routerLinkActive="active">Connections</a>
            </li>
            
        </ul>
    </div>
</nav>
