<div class="page">
    <div class="form">
        <form class="ngform" style="width: 500px" *ngIf='!mustLogin'>
            <h2 style="color: #75C9C8;">Edit Connection</h2>
            <br><br>
            <div class="form-group row">
                <label for="staticId" class="col-sm-4 col-form-label">Connection ID:</label>
                <div class="col-sm-3">
                    <input class="form-control" [(ngModel)]="connection.id" name="id" disabled>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-9">
                    <input class="form-control" placeholder="Enter name" [(ngModel)]="connection.name" name="name" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="staticId" class="col-sm-1 col-form-label">Url:</label>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="Enter url" [(ngModel)]="connection.url" name="url" required>
                </div>
            </div>
            <br>
            <!--<ng-select [items]="allApps" 
                placeholder="Select application"
                bindLabel="name" 
                bindValue="id" 
                appendTo="body"
                [multiple]="false"
                [(ngModel)]="selectedApp"
                name="selectedApp"> 
                required
            </ng-select>-->
            <ng-select [(ngModel)]="selectedApp" [ngModelOptions]="{standalone: true}">
                <ng-option *ngFor="let app of allApps" [value]="app.id" name="name">{{app.name}}</ng-option>
            </ng-select>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" [(ngModel)]="connection.enableAuthentication" name="enableAuthentication">
                <label class="form-check-label" for="exampleCheck1">Authentication</label>
            </div>
            <input class="form-control" id="username" placeholder="Enter username" [(ngModel)]="connection.username" name="username" *ngIf='connection.enableAuthentication' required>
            <br>
            <input type="password" class="form-control" id="password" placeholder="Enter password" [(ngModel)]="connection.password" *ngIf='connection.enableAuthentication' name="password" required>
            <br><br>
            <button type="button" class="btn btn-danger" style="margin-right: 20px; font-size: 18px; width: 100px;" (click)="back()">Back</button>
            <button type="button" class="btn btn-info" style="font-size: 18px; width: 100px;" (click)="updateConnection()">Save</button>

        </form>
        <form class="ngform" style="width: 500px" *ngIf='mustLogin'>
            <input class="form-control" placeholder="Enter username" [(ngModel)]="authentication.username" name="username" required>
            <br>
            <input type="password" class="form-control" placeholder="Enter password" [(ngModel)]="authentication.password" name="password" required>
            <br>
            <button type="button" class="btn btn-danger" style="margin-right: 20px; font-size: 18px; width: 100px;" (click)="back()">Back</button>
            <button type="button" class="btn btn-info" style="font-size: 18px; width: 100px;" (click)="doAuthentication()">OK</button>
        </form>
    </div>
    <div>
</div>

